name: Document GitHub action

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    # The following paths are used to trigger the workflow
    # as any changes to them will likely update the documentation
    paths:
      - ".github/workflows/example.yml"
      - "action.yml"
      - "package.json"
      - "README.md"

jobs:
  document_action:
    runs-on: ubuntu-latest
    name: Write documentation
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Documentation action
        id: documentation
        uses: ./
      - name: Commit files
        if: steps.documentation.outputs.update == 'true'
        run: |
          git pull
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -am "Update documentation"
          git push
